@import "styles/utils";

.item {
    @extend .shadow-default;
    background: #fff;
    border-radius: $radius-big;
    box-sizing: border-box;
    border: 1px solid #fff;
    transition: border-color 0.3s;
    cursor: pointer;

    &.faq {
        &.expanded {
            border-color: $color-accent;
        }
    }

    &.grouped {
        border-radius: 0;
        box-shadow: none;

        &:first-child {
            border-radius: $radius-big $radius-big 0 0;

        }

        &:last-child {
            border-radius: 0 0 $radius-big $radius-big;

        }

        &:not(:last-child) {
            border-bottom: 1px solid $color-grey;
        }
    }

    &.expanded {
        .head {
            strong {
                color: $color-accent;

                span {
                    width: 40px;
                    height: 40px;
                    color: #fff;
                    background-color: $color-accent;
                    border-color: $color-accent;
                }
            }

            button {
                i {
                    transform: scaleY(-1);
                }
            }
        }

        .textWrapper {
            &::before {
                transform: scaleX(1);
            }
        }
    }
}

.head,
.text {
    padding: 20px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    box-sizing: border-box;

    strong {
        @extend .main-body-text;
        @include weights(medium);
        color: $color-black;
        transition: color 0.3s;
        padding-right: 20px;
        display: flex;
        align-items: center;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            color: $color-black;
            width: 30px;
            height: 30px;
            margin-right: 20px;
            border-radius: 6px;
            box-sizing: border-box;
            border: 1px solid $color-grey;
            transition: color 0.3s, border-color 0.3s, background-color 0.3s, width 0.3s, height 0.3s;
        }
    }

    button {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        border-radius: $radius-small;
        border: 1px solid $color-grey;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: $color-accent;

        i {
            transition: transform 0.3s;
        }
    }
}

.textWrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    position: relative;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $color-grey;
        top: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: left center;
        transition: transform 0.3s;
    }

    :global {
        ul,
        ol {
            margin-top: 30px;
            margin-bottom: 30px;

            > li {
                position: relative;
                margin-bottom: 15px;
                max-width: 610px;

                &::before {
                    position: absolute;
                    left: 0;
                }

                > strong {
                    color: $color-black;
                    display: block;
                    margin-bottom: 10px;
                }

                > b {
                    color: $color-black;
                }
            }
        }

        ul {
            > li {
                padding-left: 30px;

                &::before {
                    content: "";
                    top: 5px;
                    width: 10px;
                    height: 10px;
                    background-color: $color-accent;
                    border-radius: 2px;
                }
            }
        }

        ol {
            counter-reset: ol;

            > li {
                padding-left: 52px;

                &::before {
                    content: counter(ol);
                    counter-increment: ol;
                    top: -5px;
                    width: 32px;
                    height: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $color-accent;
                    font-size: 16px;
                    border-radius: 50%;
                    background-color: $color-accent-disabled;
                }
            }
        }
    }
}
