@import "styles/utils";

.payMethods {
    display: flex;
    max-width: 592px;
    width: 100%;
    gap: 20px 100px;
    justify-content: space-between;

    li {
        flex-shrink: 0;
        line-height: 0;
    }

    @include media-breakpoint(xs) {
        flex-direction: column;
        align-items: flex-start;
    }
}
