@import "styles/utils";

.section {
    padding-top: 40px;
    background-color: $color-light-grey;

    @include media-breakpoint(md) {
        text-align: center;
    }
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px 110px;

    @include media-breakpoint(md) {
        flex-direction: column;
    }
}

.imageWrap {
    overflow: hidden;
    margin-bottom: -8px;
    text-align: center;
}

.image {
    animation: manSlide .7s linear;
}

.heading {
    margin-bottom: 10px;
    span {
        color: $color-accent;
    }
}


@keyframes manSlide {
    from {
        transform: translateY(50%);
    }
}
