@import "styles/utils";

.section {
    padding: 100px 0;
    position: relative;

    @include media-breakpoint(md) {
        padding: 60px 0;
    }
}

.container {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 10px;

    @include media-breakpoint(md) {
        flex-wrap: wrap;
        max-width: 570px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    @include media-breakpoint(sm) {
        margin-left: 0;
    }
}

.left {
    max-width: 570px;
    width: 100%;
    margin-right: 10px;
}

.right {
    max-width: 515px;

    @include media-breakpoint(md) {
        max-width: 310px;
    }
}

.heading {
    @include h1;
    margin-bottom: 25px;

    span {
        color: $color-accent;
    }
}

.subheading {
    max-width: 385px;
    display: grid;
    grid-template-columns: 71px 1fr;
    grid-gap: 20px;
    align-items: center;
    @include body-text-medium;
    margin-bottom: 20px;
}

.list {
    margin-bottom: 36px;
    display: grid;
    grid-gap: 18px;

    > li {
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 41px;

        &::before {
            content: '';
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            width: 6px;
            height: 6px;
            border-radius: 2px;
            background-color: $color-accent;
        }
    }
}


.walletWrap {
    display: flex;
    align-items: flex-end;
    margin-top: -10px;
    margin-left: 10px;

    > span {
        @include h3;
        color: $color-green;
        margin-bottom: 2px;
    }

}
