@import "styles/utils";

.container {
    display: grid;
    grid-template-columns: 370px auto;
    align-items: start;
    grid-gap: 130px;
    padding-top: 90px;
    padding-bottom: 100px;

    @include media-breakpoint(lg) {
        grid-gap: 75px;
    }

    @include media-breakpoint(md) {
        display: block;
        padding-top: 0;
        padding-bottom: 80px;
    }

    @include media-breakpoint(sm) {
        padding-bottom: 60px;
    }
}

.contentsTableWrap {
    position: sticky;
    top: 130px;
    z-index: 1;

    @include media-breakpoint(md) {
        margin-bottom: 40px;
        top: 68px;
    }
    @include media-breakpoint(sm) {
        margin-bottom: 30px;
    }
}

.list {
    &:not(:last-child) {
        margin-bottom: 80px;
        @include media-breakpoint(md) {
            margin-bottom: 60px;
        }
    }
}


.sideButtons {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    @include media-breakpoint(md) {
        display: none;
    }
}


.sideLink {
    border-radius: $radius-small;
    @extend .shadow-default;
    @extend .main-body-text;
    @include weights(medium);
    color: $color-black;

    a {
        display: flex;
        align-items: center;
        padding: 14px 20px;
        & > i {
            padding-left: 10px;
            margin-left: auto;
            font-size: 12px;
            color: $color-accent;
        }
    }
    &Icon {
        flex-shrink: 0;
        margin-right: 20px;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        color: $color-accent;
        background-color: $color-accent-disabled;
        border-radius: 4px;
    }
}

.beforeContent {
    margin-bottom: 60px;

    > p {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    :global {
        .text-article-heading {
            color: $color-black;
        }
    }
}
