@import "styles/utils";

.checkbox {
    display: inline-block;
    width: 27px;
    height: 27px;
    border-radius: 6px;
    border: 1px solid $color-grey;
    position: relative;
    box-sizing: border-box;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;

    &:hover,
    &.focus &.checked {
        border-color: $color-accent;
    }

    &.checked {
        background: url("/img/icon-pack/check.svg") $color-accent center no-repeat;
        background-size: 13px;
    }

    input {
        position: absolute;
        height: 0;
        width: 0;
    }
}
