@import "styles/utils";

.contentsTable {
    border-radius: $radius-big;
    background-color: #fff;
    @extend .shadow-default;

    @include media-breakpoint(md) {
        border-radius: 0;
        border-left: none;
        border-right: none;
        margin: 0 -$container-indent;
    }

    @include media-breakpoint(sm) {
        margin: 0 -$container-indent-sm;
    }
}

.heading {
    padding: 20px 30px;
    color: $color-black;
    @extend .main-body-text;
    @include weights(medium);
    border-bottom: 1px solid $color-grey;

    @include media-breakpoint(md) {
        display: none;
    }
}

.list {
    @include media-breakpoint(md) {
        display: flex;
        padding-bottom: 16px;
    }
}

.nav {
    overflow: auto;
    max-height: 380px;
    position: relative;

    @include media-breakpoint-min(md) {
        @include customize-scrollbars(2px, $color-accent);
    }

    @include media-breakpoint(md) {
        padding-top: 0;
        display: flex;
        @include customize-scrollbars(1px, transparent);

        &::after {
            content: "";
            display: block;
            height: 1px;
            width: 30px;
        }
    }
}

.navWrapper {
    position: relative;
    padding: 25px 0;

    @include media-breakpoint(md) {
        padding: 16px 0 0;
    }
}

.navScroller {
    position: absolute;
    left: 0;
    width: 4px;
    height: 24px;
    background-color: $color-accent;
    border-radius: 0 3px 3px 0;
    transition: transform 0.5s;
    will-change: transform, width;

    @include media-breakpoint(md) {
        width: 10px;
        height: 2px;
        left: 0;
        top: calc(100% - 2px);
        transition: transform 0.5s, width 0.25s;
        border-radius: 3px 3px 0 0;
    }
}

.item {
    padding: 5px 30px;
    transition: color 0.25s;

    @include media-breakpoint(md) {
        white-space: nowrap;
        padding: 0;
        margin: 0 30px;
    }

    &Active {
        color: $color-accent;
    }
}
