@import "styles/_utils";

.legalItem {
    position: relative;

    &:not(:last-child) {
        padding-bottom: 60px;

        @include media-breakpoint(xs) {
            padding-bottom: 30px;
            margin-bottom: 30px;
        }
    }

    @include media-breakpoint(xs) {
        border-top: 1px solid #d2d9f4;
        border-bottom: 1px solid #d2d9f4;
        box-shadow: 6px 4px 25px $color-accent-disabled;
        margin-left: -18px;
        margin-right: -18px;
        padding: 30px 30px;
    }

    &Open {
        @include media-breakpoint(xs) {
            .icon {
                transform: rotate(180deg);
            }
        }
    }
}

.anchor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    margin-top: -80px;

    @include media-breakpoint(md) {
        margin-top: -140px;
    }

    @include media-breakpoint(xs) {
        margin-top: -80px;
    }
}

.headingWrap {
    margin-bottom: 30px;

    @include media-breakpoint(xs) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
    }
}

.heading {
    @include media-breakpoint(xs) {
        padding-right: 40px;
        margin-bottom: 0;
    }
}

.icon {
    display: none;

    @include media-breakpoint(xs) {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        color: $color-accent;
        flex-shrink: 0;
        transition: transform 0.25s;
    }
}

.contentWrapper {
    @include media-breakpoint(xs) {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }
}

.contentInner {
    > *:not(:last-child) {
        margin-bottom: 20px;
    }
}


.content {
    @include media-breakpoint(xs) {
        padding-top: 20px;
    }

    :global {
        .title-sm {
            color: $color-accent;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .address-line {
            position: relative;
            padding-left: 32px;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 12px;
                height: 17px;
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='17' viewBox='0 0 12 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 17C8.5 17 12 9.24812 12 5.95775C12 2.66737 9.31371 0 6 0C2.68629 0 0 2.66737 0 5.95775C0 9.24812 3.5 17 6 17ZM6 8.61942C7.48059 8.61942 8.68085 7.42761 8.68085 5.95745C8.68085 4.48728 7.48059 3.29548 6 3.29548C4.5194 3.29548 3.31915 4.48728 3.31915 5.95745C3.31915 7.42761 4.5194 8.61942 6 8.61942Z' fill='%232D4EED'/%3E%3C/svg%3E");
            }
        }

        .img-link {
            display: inline-block;
            position: relative;
            padding-left: 60px;
            color: inherit;
            line-height: 40px;
            white-space: nowrap;
            font-weight: 700;
            transition: color 0.25s;
            padding-right: 18px;
            margin-bottom: 20px;

            &:hover {
                color: $color-accent;
            }

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                width: 10px;
                height: 10px;
                background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9C2.72308 7.27692 5.15385 4.84615 9 1M9 1V9M9 1H1.15385' stroke='%232D4EED' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }

            img {
                position: absolute;
                left: 0;
                top: 50%;
                width: 40px;
                height: 40px;
                transform: translateY(-50%);
            }
        }

        .cols-2 {
            columns: 2;

            @include media-breakpoint(sm) {
                columns: 1;
            }
        }

        a {
            color: $color-accent;
        }
    }
}

.image {
    margin-bottom: 20px;

    @include media-breakpoint(sm) {
        margin-bottom: 0;
        margin-right: 20px;
    }
}
