@import "styles/utils";

.alert {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: $radius-big;
    border: 1px solid $color-grey;
    @extend .shadow-default;
    width: auto;
    max-width: 500px;

    position: fixed;
    z-index: 99999;
    top: -500px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: transform 0.3s;

    &::before {
        content: "";
        display: block;
        font-size: 16px;
        margin-right: 20px;
        @include icon;
    }

    &.active {
        transform: translate(-50%, 600px);
    }

    &.success {
        &::before {
            color: $color-green;
            content: $icon-check-round;
        }
    }

    &.notice {
        &::before {
            color: $color-yellow;
            content: $icon-exclamation;
        }
    }

    &.error {
        &::before {
            color: $color-red;
            content: $icon-close-round;
        }
    }
}
