@import "styles/utils";

.section {
    background-color: $color-light-grey;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.heading {
    span {
        color: $color-accent;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint(md) {
        flex-direction: column;
        align-items: center;
        padding-top: 80px;

        h1 {
            max-width: 460px;
            text-align: center;
        }
    }

    @include media-breakpoint(xs) {
        h1 {
            text-align: left;
            align-self: flex-start;
        }
    }
}

.heroImg {
    position: relative;
    flex-shrink: 0;
    width: 570px;
    overflow: hidden;

    &::before {
        content: "";
        display: block;
        padding-top: 73.158%;
    }


    .image {
        line-height: 0;
        position: absolute;
        bottom: 0;
        z-index: 2;
        padding: 0 calc(12.98% / 2);
        width: 100%;
        animation: manSlide .7s linear;
    }

    @include media-breakpoint(md) {
        max-width: 458px;
    }

    @include media-breakpoint(sm) {
        width: 100%;
    }
}

@keyframes manSlide {
    from {
        transform: translateY(50%);
    }
}
