@import "styles/utils";

.content {
    background: $color-accent;
    padding: 40px 0;
    color: #fff;
}

.contentWrapper {
    display: grid;
    grid-template-columns: 6fr 3fr 3fr;
    grid-row-gap: 40px;

    @include media-breakpoint(md) {
        grid-template-columns: 4fr 2fr;
    }

    @include media-breakpoint(sm) {
        grid-template-columns: 1fr;
    }
}

.footerMenu {
    ul {
        display: grid;
        grid-row-gap: 20px;
        grid-template-columns: 1fr 1fr;
        // grid-template-rows: repeat(auto-fit, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-auto-flow: column;

        @include media-breakpoint(sm) {
            grid-template-columns: 1fr;
            grid-auto-flow: row;
        }
    }
}

.contacts {
    .icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 5px;
        color: $color-accent;
        text-align: center;
        line-height: 24px;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 14px;
        margin-right: 16px;
    }

    li {
        a {
            display: flex;
            align-items: center;
        }

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.text {
    @extend .middle-body-text;

    @include media-breakpoint(md) {
        opacity: 0.5;
    }
}

.locales {
    margin-top: 20px;

    a {
        padding: 0 10px;
        border-right: 1px solid #fff;
        transition: color 0.3s;

        &:hover,
        &.active {
            color: $color-black;
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
            border-right: none;
        }
    }
}

.copyright {
    padding: 20px 0;
}

.copyWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    align-items: center;

    p {
        @extend .middle-body-text;
    }

    @include media-breakpoint(md) {
        flex-direction: column;
        align-items: flex-start;
    }
}
