@import "styles/utils";

.container {
    width: 100%;
    @include limit-width($container-width);
    padding: 0 $container-indent;

    @include media-breakpoint(sm) {
        padding: 0 $container-indent-sm;
    }
}
