@import "styles/utils";
@import "styles/fonts/variables";

.label {
    // min-height: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-self: start;
    align-items: stretch;
    color: $color-label-grey;
    font-size: 14px;
    line-height: 150%;
    @include weights(medium);

    .inputWrapper {
        flex-grow: 1;
        position: relative;

        &::before {
            font-family: "ui-icons";
            font-size: 15px;
            line-height: 1;
            position: absolute;
            left: 16px;
            bottom: 17px;
            color: $color-accent;
        }

        .eye {
            display: block;
            cursor: pointer;
            position: absolute;
            width: 18px;
            height: 18px;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;

            svg {
                width: 100%;
                fill: $color-accent;
                transition: fill 0.3s;
            }
        }
    }

    .labelText {
        padding-bottom: 10px;
    }

    .validationText {
        @extend .small-body-text;
        color: $color-red;
        padding: 5px 16px 0;
        margin-bottom: -5px;
        transform: scaleY(0);
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        line-height: 1.5em;
        max-height: 0;
        transform-origin: top;
        transition: max-height 0.3s, transform 0.3s;
    }

    &.required {
        .labelText::after {
            content: "*";
            padding-left: 4px;
            color: $color-red;
        }
    }

    &.invalid {
        .input,
        .textarea {
            border-color: $color-red;
        }

        .validationText {
            transform: scaleY(1);
            max-height: calc(3em + 5px);
            // display: block;
        }
    }

    &.password {
        .input {
            padding-right: 46px;
        }
    }

    &.email,
    &.phone,
    &.key,
    &.user-card {
        .input {
            padding-left: 46px;
        }
    }

    &.email {
        .inputWrapper {
            &::before {
                display: block;
                content: $icon-email;
            }
        }
    }

    &.phone {
        .inputWrapper {
            &::before {
                display: block;
                content: $icon-phone-round;
            }
        }
    }

    &.key {
        .inputWrapper {
            &::before {
                display: block;
                content: $icon-key;
            }
        }
    }

    &.user-card {
        .inputWrapper {
            &::before {
                display: block;
                content: $icon-user-card;
            }
        }
    }
}

.input {
    width: 100%;
    height: 50px;
}

.textarea {
    resize: none;
    flex-grow: 1;
    min-height: 140px;
}

.input,
.textarea {
    display: block;
    background-color: #fff;
    padding: 12px 16px;
    box-sizing: border-box;
    border: 1px solid $color-grey;
    border-radius: $radius-medium;
    color: $color-black;
    font-family: inherit;
    cursor: text;
    transition: border-color 0.3s;

    &:active,
    &:focus {
        border-color: $color-accent;
    }

    &,
    &::placeholder {
        @extend .main-body-text;
    }
    &::placeholder {
        color: $color-grey;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        box-shadow: none;
        transition: background-color 5000s ease-in-out 0s;
    }
}
