@import "styles/utils";
@import "styles/fonts/variables";

.inputWrapper {
    position: relative;
    min-width: 285px;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid $color-grey;
    border-radius: $radius-medium;
    color: $color-black;
    font-family: inherit;
    cursor: text;
    transition: border-color 0.3s;
    padding: 0 16px 0 50px;

    &::before {
        display: block;
        content: $icon-phone-round;
        font-family: "ui-icons";
        font-size: 15px;
        line-height: 1;
        position: absolute;
        left: 16px;
        bottom: 17px;
        color: $color-accent;
    }

    &.invalid {
        border-color: $color-red;
    }

    &[class~="react-tel-input"] {
        :global {
            .form-control {
                margin: 0 0 0 46px !important;
                position: relative;
                width: auto !important;
                z-index: 2;
                padding: 0;
                background: #ffffff;
                border: none;
                outline: none;
                border-radius: 0;
                box-sizing: border-box;
                height: 100%;
                flex: 1 0;
                @include main-body-text;

                &.invalid-number,
                &:focus {
                    border: none !important;
                    background: #fff;
                }
            }

            .flag-dropdown {
                width: 100%;
                left: 0;
                z-index: 1;
                padding-left: 46px;
                background-color: transparent;
                border: none;
                border-radius: 0;

                &:hover,
                &:focus {
                    cursor: pointer;
                }

                &.open {
                    background: none;
                    border-radius: 0;

                    .selected-flag {
                        border-radius: 0;
                    }
                }
            }

            // .flag-dropdown.invalid-number {
            //     border-color: #d79f9f;
            // }
            .flag-dropdown.open input[disabled] + .flag-dropdown:hover {
                cursor: default;
            }

            .selected-flag {
                outline: none;
                position: relative;
                display: flex;
                align-items: center;
                column-gap: 10px;
                width: min-content;
                height: 100%;
                padding: 0;
                padding-right: 20px;
                border-radius: 0;

                .flag {
                    position: relative;
                    top: 0;
                    margin: 0;
                    // width: 24px;
                    // height: 16px;
                    // border-radius: 4px;
                    // background-size: ;
                }

                .arrow {
                    position: absolute;
                    left: calc(100% + 10px);
                    top: 50%;
                    transform: translateY(-50%);
                    width: 10px;
                    height: 10px;
                    border: none;
                    font-family: "ui-icons";
                    line-height: 1;
                    margin: 0;

                    &::before {
                        display: block;
                        content: $icon-chevron-down;
                        font-size: 10px;
                    }

                    &.up {
                        border: none;
                        &::before {
                            content: $icon-chevron-up;
                        }
                    }
                }
            }

            .country-list {
                outline: none;
                list-style: none;
                white-space: nowrap;
                position: absolute;
                z-index: 1;
                left: 0;
                padding: 0;
                margin: 12px 0 0;
                box-shadow: none;
                background-color: #fff;
                border: 1px solid $color-grey;
                border-radius: $radius-medium;
                max-height: 258px;
                width: auto;
                overflow-y: scroll;
                -webkit-overflow-scrolling: touch;
                @include customize-scrollbars($size: 0);
                @include small-body-text;

                .country {
                    padding: 12px 16px;

                    &:hover,
                    &.highlight {
                        background-color: $color-light-grey;
                    }

                    .flag,
                    .country-name {
                        margin-right: 10px;
                    }

                    .country-name {
                        color: $color-body-text;
                    }

                    .dial-code {
                        color: $color-black;
                    }
                }
            }
        }
    }
}
