@import "styles/utils";

.content {
    :global {
        strong {
            color: $color-black;
        }

        ul,
        ol {
            margin-top: 20px;
            margin-bottom: 20px;

            > li {
                position: relative;
                margin-bottom: 30px;
                max-width: 610px;

                &::before {
                    position: absolute;
                    left: 0;
                }

                > strong {
                    color: $color-black;
                    display: block;
                    margin-bottom: 10px;
                }
            }
        }

        ul {
            > li {
                position: relative;
                margin-bottom: 20px;
                padding-left: 41px;

                > p {
                    margin-top: 20px;
                }

                &::before {
                    content: "";
                    top: 8px;
                    left: 20px;
                    width: 6px;
                    height: 6px;
                    background-color: $color-accent;
                    border-radius: 2px;
                }

                > ul {
                    > li {
                        &::before {
                            background-color: transparent;
                            border: 1px solid $color-accent;
                        }
                    }
                }
            }
        }

        ol {
            counter-reset: ol;

            > li {
                padding-left: 52px;

                &::before {
                    content: counter(ol) '.';
                    counter-increment: ol;
                    top: 0;
                    left: 20px;
                    color: $color-accent;
                    font-size: 16px;
                    font-weight: 500;
                }

                &[value] {
                    &::before {
                        content: attr(value);
                    }

                }
            }
        }

        .text-green {
            color: $color-green;
        }

        .text-blue {
            color: $color-accent;
        }
    }
}
