@import "styles/utils";

.list {
    &:not(:first-child) {
        margin-top: 30px;
    }

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    li {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}

.dots {
    li {
        position: relative;
        padding-left: 28px;

        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            border-radius: 2px;
            background-color: $color-accent;
        }
    }

    &.grey {
        li {
            &::before {
                background-color: $color-grey;
            }
        }
    }

    &.black {
        li {
            &::before {
                background-color: $color-black;
            }
        }
    }

    &.green {
        li {
            &::before {
                background-color: $color-green;
            }
        }
    }

    &.red {
        li {
            &::before {
                background-color: $color-red;
            }
        }
    }
}

.headings {
    li {
        & > strong {
            display: block;
            margin-bottom: 10px;
        }
    }

    &Accent {
        strong {
            color: $color-accent;
        }
    }
}
