@import "styles/utils";

.hamburger {
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;

    -webkit-tap-highlight-color: transparent;
    @include media-breakpoint(md) {
        display: flex;
    }
}

.box {
    width: 32px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.inner {
    top: calc(50% - 2px);

    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    &:before {
        transition: top 0.075s 0.12s ease, opacity 0.075s ease;
    }
    &:after {
        transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    &,
    &:before,
    &:after {
        position: absolute;

        width: 32px;
        height: 3px;

        background-color: $color-black;
        border-radius: 5px;

        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }
    &:before,
    &:after {
        content: "";
        display: block;
    }
    &:before {
        top: -10px;
    }
    &:after {
        bottom: -10px;
    }
    .active & {
        transform: rotate(45deg);
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        &:before {
            top: 0;
            opacity: 0;
            transition: top 0.075s ease, opacity 0.075s 0.12s ease;
        }
        &:after {
            bottom: 0;
            transform: rotate(-90deg);
            transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    }
}
