@import "styles/utils";

.btn {
    position: relative;
    padding: 10px 20px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: $radius-small;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    user-select: none;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s, opacity 0.3s;
    @extend .button-text;

    @include media-breakpoint(xs) {
        width: 100%;
    }

    &.primary {
        background-color: $color-accent;
        border-color: $color-accent;

        &,
        i,
        span {
            color: #fff;
        }

        &:hover,
        &:active {
            background-color: $color-accent-light;
            color: #fff;
        }
    }

    &.primaryOutline {
        border-color: $color-accent;
        background-color: #fff;
        color: $color-black;

        i {
            color: $color-accent;
        }


        &:hover,
        &:active {
            background-color: $color-accent-disabled;
        }
    }

    &.outline {
        background-color: #fff;
        border-color: $color-grey;
        padding: 10px 40px;
    }

    &:hover,
    &:active {
        border-color: $color-accent;
        color: $color-accent;
    }

    &.disabled,
    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}
