@import "styles/utils";

.section {
    padding: 100px 0;

    @include media-breakpoint(md) {
        padding: 60px 0;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 10px;

    @include media-breakpoint(md) {
        flex-wrap: wrap;
        max-width: 570px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    @include media-breakpoint(sm) {
        margin-left: 0;
    }
}

.left {
    max-width: 570px;
    width: 100%;
    margin-right: 10px;
}

.right {
    max-width: 515px;

    @include media-breakpoint(md) {
        max-width: 310px;
    }
}

.heading {
    @include h1;
    margin-bottom: 64px;

    @include media-breakpoint(md) {
        margin-bottom: 32px;
    }

    span {
        color: $color-accent;
    }
}

.subheading {
    max-width: 385px;
    display: grid;
    grid-template-columns: 71px 1fr;
    grid-gap: 20px;
    align-items: center;
    @include body-text-medium;
    margin-bottom: 20px;
}

.image {
    animation: levitation 5s cubic-bezier(1, 0.87, 0.89, 1.38) infinite;
}


