@import "styles/utils";

.section {
    padding: 100px 0;
    background-color: $color-light-grey;

    @include media-breakpoint(md) {
        padding: 60px 0;
    }
}

.heading {
    text-align: center;
    margin-bottom: 64px;

    @include media-breakpoint(md) {
        margin-bottom: 32px;
    }

    span {
        color: $color-accent;
    }
}

.icon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: rgba(57, 113, 255, 0.2);
    border-radius: 8px;
}


.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 64px;

    @include media-breakpoint(md) {
        grid-gap: 32px;
    }

    @include media-breakpoint(sm) {
        grid-template-columns: 1fr
    }

    > li {
        @include h3;
        text-align: center;

        .iconWrap {
            width: 50px;
            height: 50px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            margin-bottom: 15px;
        }


        .boldText {
            position: absolute;
            top: 15px;
            right: -100px;
            color: $color-green;
            transform: rotate(-10deg);

            @include media-breakpoint(md) {
                right: -80px;
            }
        }
    }
}
