@use "sass:math";
@import "styles/utils";


.section {
    min-height: 540px;
    padding-bottom: 20px;
    overflow: hidden;

    @include media-breakpoint(md) {
        padding-top: 40px;
    }
}

.wrapper {
    position: relative;
    padding-bottom: 80px;

    justify-content: space-between;

    @include media-breakpoint(md) {
        grid-template-columns: minmax(324px, 500px);
        justify-content: center;
        padding-bottom: 40px;
    }
}

.top {
    display: grid;
    align-items: center;
    grid-template-columns: 570px 1fr;
    grid-gap: 10px;

    @include media-breakpoint(md) {
        grid-template-columns: minmax(auto, 570px);
        justify-content: center;
    }
}

.beforeHeading {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    @include body-text-medium;
}

.beforeHeadingImage {
    flex-shrink: 0;
    margin-right: 15px;
}

.heading {
    margin-bottom: 32px;
}

.subheading {
    margin-bottom: 32px;
}

.heading {
    span {
        color: $color-accent;
    }
}

.features {
    box-shadow: $shadow-regular;
    background-color: $color-white;
    border-radius: 15px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;

    @include media-breakpoint(md) {
        grid-template-columns: 1fr;
    }

    @include media-breakpoint(sm) {
        padding: 20px;
        grid-gap: 20px;
    }
}

.feature {
    display: grid;
    align-items: center;
    grid-template-columns: 88px 1fr;
    grid-gap: 30px;

    @include media-breakpoint(sm) {
        grid-gap: 20px;
        grid-template-columns: 1fr;
        text-align: center;
    }
}

.featureImage {
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    width: 88px;
    height: 88px;

    @include media-breakpoint(sm) {
        margin-left: auto;
        margin-right: auto;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $color-light-grey;
        border-radius: 50%;
        z-index: -1;
    }
}

.content {
    padding: 32px 0;
}


.button {
    min-width: 190px;
}

.heroImgWrapper {
    opacity: 0;
    margin-top: -10%;
    margin-bottom: -5%;
    position: relative;
    width: math.div(674, 590) * 100%;
    padding-bottom: math.div(674, 590) * 100%;
    pointer-events: none;

    @include media-breakpoint(md) {
        width: 100%;
        padding-bottom: 100%;
        left: -7%;
        margin-top: -20%;
        margin-bottom: 10%;
    }

    .rocket {
        position: absolute;
        top: 0;
        left: 0;
        width:  math.div(500, 674) * 100%;
        height: math.div(500, 674) * 100%;
        margin-top: 23%;
        margin-left: 10%;
        z-index: 1;
    }

    .rocketWrap {
        position: relative;
        width: 100%;
        height: 100%;
        transform: rotate(-15deg);
    }

    .cloudTop {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 20%;
        margin-left: 15%;
        width:  math.div(500, 674) * 100%;
        height: math.div(500, 674) * 100%;
    }

    .cloudTopWrap {
        position: relative;
        width: 100%;
        height: 100%;
        transform: rotate(-15deg);
    }

    .cloudBottom {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 26%;
        margin-left: 10%;
        width:  math.div(500, 674) * 100%;
        height: math.div(500, 674) * 100%;
    }

    .cloudBottomWrap {
        position: relative;
        width: 100%;
        height: 100%;
        transform: rotate(-15deg);
    }

    .spiralFirst {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 20%;
        margin-left: 10%;
        width:  math.div(81, 674) * 100%;
        height: math.div(81, 674) * 100%;
    }

    .spiralSecond {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 30%;
        margin-left: 80%;
        width:  math.div(121, 674) * 100%;
        height: math.div(121, 674) * 100%;
    }

    .circles {
        position: absolute;
        bottom: 0;
        right: 0;
        border: 1px solid $color-light-grey;
        border-radius: 50%;
        width:  math.div(555, 674) * 100%;
        height:  math.div(555, 674) * 100%;
        z-index: -1;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            background-image: radial-gradient(rgba($color-accent, 0.3), $color-white 70%);
            border-radius: 50%;
            transform: translate(-50%, -50%);
            width: math.div(182, 555) * 100%;
            height: math.div(182, 555) * 100%;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            border: 1px solid $color-light-grey;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            width: math.div(456, 555) * 100%;
            height: math.div(456, 555) * 100%;
        }
    }

    .cloudTop {
        transform-origin: 90% 10%;
    }

    .cloudBottom {
        transform-origin: 10% 100%;
    }

    .messageBubble {
        transform-origin: 20% 0;
    }
}
