@import "styles/utils";

.section {
    padding: 100px 0;

    @include media-breakpoint(md) {
        padding: 60px 0;
    }
}

.heading {
    text-align: center;
    margin-bottom: 64px;

    @include media-breakpoint(md) {
        margin-bottom: 32px;
    }

    @include media-breakpoint(sm) {
        text-align: left;
    }

    span {
        color: $color-accent;
    }
}

.wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 30px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 370px;

    @include media-breakpoint(md) {
        grid-auto-flow: row;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint(sm) {
        grid-template-columns: 1fr;
    }
}

.item {
    padding: 30px;
    border-radius: 12px;
    background-color: $color-light-grey;

    @include media-breakpoint(sm) {
        padding: 20px;
    }

    &:first-child {
        grid-row: span 2;

        @include media-breakpoint(md) {
            grid-row: span 1;
            grid-column: span 2;
        }

        @include media-breakpoint(sm) {
            grid-column: span 1;
        }

    }
}

.itemTitle {
    margin-bottom: 15px;
}

.listWrap {
    margin-top: 15px;
    border-radius: 12px;
    padding: 30px;
    background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.22) 19.79%, rgba(255, 255, 255, 0) 100%);

    @include media-breakpoint(sm) {
        padding: 20px;
    }
}

.list {
    display: grid;
    grid-gap: 20px;

    > li {
        padding: 30px;
        background-color: $color-white;
        box-shadow: $shadow-regular;
        border-radius: 12px;
        display: grid;
        grid-template-columns: 24px 1fr;
        grid-gap: 20px;
        align-items: center;

        @include media-breakpoint(sm) {
            padding: 20px;
        }
    }
}

.buttons {
    position: relative;
    width: 8px;
    height: 8px;
    background-color: $color-orange;
    border-radius: 50%;
    margin-left: auto;
    margin-bottom: 20px;

    &::before, &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;

    }

    &::before {
        left: -32px;
        background-color: $color-label-grey;
    }

    &::after {
        left: -16px;
        background-color: $color-green;
    }
}
