@import "styles/utils";

.section {
    padding: 140px 0;
    background-color: $color-light-grey;

    @include media-breakpoint(md) {
        padding: 60px 0;
    }

}

.heading {
    text-align: center;
    span {
        color: $color-accent;

    }
    margin-bottom: 64px;

    @include media-breakpoint(md) {
        margin-bottom: 32px;
    }

    @include media-breakpoint(sm) {
        text-align: left;
    }
}

.list {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    grid-gap: 32px 30px;

    @include media-breakpoint(sm) {
        grid-template-rows: 1fr;
        grid-auto-flow: row;
    }


    > li {
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-gap: 15px;
        align-items: center;
    }
}

.image {
    display: flex !important;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: rgba(57, 113, 255, 0.2);
}
