@import "styles/utils";

.section {
    padding: 100px 0;
    background-color: $color-light-grey;

    @include media-breakpoint(md) {
        padding: 60px 0;
    }
}


.heading {
    text-align: center;
    margin-bottom: 64px;

    @include media-breakpoint(md) {
        margin-bottom: 32px;
    }

    @include media-breakpoint(sm) {
        text-align: left;
    }

    span {
        color: $color-accent;
    }
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;

    @include media-breakpoint(md) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint(xs) {
        grid-template-columns: repeat(1, 1fr);
    }

    > li {
        padding: 20px;
        background-color: $color-white;
        border-radius: 12px;
        box-shadow: $shadow-regular;
        text-align: center;

        strong {
            display: block;
            @include h4;
            margin-bottom: 20px;
        }
    }
}

.image {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: rgba(57, 113, 255, 0.2);
    border-radius: 8px;
    width: 50px;
    height: 50px;
}
