@import "styles/utils";

.section {
    padding: 100px 0 150px;
    @include media-breakpoint(md) {
        padding: 60px 0 240px;
    }

    @include media-breakpoint(xs) {
        padding-bottom: 60px;
    }
    overflow: hidden;
}

.heading {
    margin-bottom: 15px;
    span {
        color: $color-accent;
    }
}

.subheading {
    margin-bottom: 13px;
}

.listTitle {
    @include h3;
    margin-bottom: 15px;
}

.list {
    > li {
        padding-left: 30px;
        position: relative;
        line-height: 2;

        &::before {
            content: '';
            position: absolute;
            top: 14px;
            left: 5px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $color-body-text;
        }
    }
}


.container {
    display: grid;
    grid-template-columns: minmax(auto, 570px) 490px;
    grid-gap: 60px;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint(md) {
        grid-template-columns: 1fr;
    }
}

.stages {
    position: relative;
    width: 255px;
    height: 255px;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint(xs) {
        width: 100%;
        height: auto;
    }
}

.stagesLogo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-light-grey;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint(xs) {
        background-color: transparent;
        margin-bottom: 30px;
        display: none;
    }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 390px;
        height: 390px;
        background-color: $color-grey;
        filter: blur(100px);
        z-index: -1;

        @include media-breakpoint(xs) {
            display: none;
        }
    }

    span {
        position: relative;
        z-index: 2;
    }


    strong {
        display: block;
        font-size: 28px;
        line-height: 38px;


    }
}

.stagesLogoInner {
    position: relative;
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: 12px solid #F4F5F9;
    border-radius: 50%;
    box-shadow: inset 6px 6px 13px rgba(184, 196, 231, 0.2), inset -6px -6px 13px #FFFFFF;
    // filter: blur(2px) drop-shadow(-6px -6px 18px rgba(184, 196, 231, 0.2)) drop-shadow(6px 6px 13px #FFFFFF);
}


.stagesList {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    counter-reset: ol;

    @include media-breakpoint(xs) {
        position: static;
        display: grid;
        grid-gap: 20px;
    }

    > li {
        position: absolute;
        counter-increment: ol;
        width: 100px;
        height: 100px;
        background-color: $color-accent;
        border-radius: 50%;

        &::before {
            content: '0' counter(ol);
            position: absolute;
            top: 0;
            left: 8px;
            color: $color-black;
            font-size: 26px;
            font-weight: 700;
        }

        &:nth-child(1) {
            left: 90px;
            top: -40px;

            .img {
                margin-left: 10px;
                margin-top: 40px;
            }

            .stagesText {
                top: 55%;
                right: 95%;
                border-radius: 12px 0px 12px 12px;
            }
        }


        &:nth-child(2) {
            left: 225px;
            top: 10px;

            .img {
                margin-left: 10px;
                margin-top: 3px;
            }

            .stagesText {
                top: 85%;
                right: 50%;
                border-radius: 12px 0px 12px 12px;
            }
        }

        &:nth-child(3) {
            left: 220px;
            top: 175px;

            .img {
                margin-left: 20px;
                margin-top: 16px;
            }

            .stagesText {
                top: -15%;
                left: 75%;
                border-radius: 12px 12px 12px 0px;
            }
        }

        &:nth-child(4) {
            left: -25px;
            top: 225px;

            .img {
                margin-left: 35px;
                margin-top: 28px;
            }

            .stagesText {
                top: -20%;
                left: 50%;
                border-radius: 12px 12px 12px 0px;
            }
        }


        &:nth-child(5) {
            left: -70px;
            top: 75px;

            .img {
                margin-left: 20px;
                margin-top: 30px;
            }

            .stagesText {
                top: 90%;
                left: -110%;
                border-radius: 12px 0px 12px 12px;
            }
        }

        &:nth-child(n) {
            @include media-breakpoint(xs) {
                position: relative;
                top: 0;
                left: 0;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 80px;

                .stagesText {
                    top: calc(100% + 20px);
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 16px;
                    line-height: 24px;
                    border-radius: 12px;
                    min-width: min-content;
                }
            }
        }
    }
}


.stagesText {
    position: absolute;
    padding: 5px 20px;
    background-color: $color-white;
    box-shadow: $shadow-regular;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
}
