@import "styles/utils";

.section {
    padding-top: 80px;
    padding-bottom: 100px;

    @include media-breakpoint(md) {
        padding-top: 60px;
        padding-bottom: 60px;
    }


}

.heading {
    text-align: center;
    margin-bottom: 64px;

    @include media-breakpoint(sm) {
        text-align: left;
        margin-bottom: 32px;
    }

    span {
        color: $color-accent;
    }
}

.content {
    display: grid;
    grid-template-columns: minmax(auto, 570px) minmax(auto, 470px);
    grid-gap: 40px;
    justify-content: space-between;

    @include media-breakpoint(sm) {
        grid-template-columns: 1fr;
    }
}

.list {
    display: grid;
    grid-gap: 32px;
    counter-reset: ol;

    > li {
       counter-increment: ol;
       display: grid;
       grid-gap: 16px;
       grid-template-columns: 48px 1fr;
       align-items: center;

       &::before {
           content: counter(ol);
           display: flex;
           align-items: center;
           justify-content: center;
           height: 48px;
           width: 48px;
           border: 1px solid $color-grey;
           @include h4;
           border-radius: 6px;
       }
    }
}

.detailedList {
    dt {
        @include body-text-medium;
        text-transform: uppercase;
        margin-bottom: 8px;

        &:nth-of-type(n) {
            color: $color-accent;
        }

        &:nth-of-type(2n) {
            color: $color-green;
        }

        &:nth-of-type(3n) {
            color: $color-orange;
        }
    }

    dd {
        &:not(:last-child) {
            margin-bottom: 24px;
        }

    }
}
