@import "styles/utils";

.section {
    padding: 80px 0;
    position: relative;
    overflow: hidden;
    flex: 1;

    .fill {
        position: absolute;
        line-height: 0;
        z-index: -1;
        bottom: 0;
        left: 62.85%;
    }

    @include media-breakpoint(md) {
        padding-bottom: 60px;

        .fill {
            left: -25.2%;
            bottom: -155px;
        }
    }

    @include media-breakpoint(sm) {
        padding: 40px 0 20px;

        .fill {
            display: none !important;
        }
    }
}

.wrapper {
    display: grid;
    grid-template-columns: minmax(min-content, 570px) minmax(min-content, 470px);
    grid-gap: 40px 130px;
    justify-content: space-between;

    h1 {

        margin-bottom: 64px;

        @include media-breakpoint(md) {
            margin-bottom: 32px;
        }

        span {
            color: $color-accent;
        }
    }

    .text {
        display: flex;
        column-gap: 30px;
        align-items: center;

        .icon {
            flex-shrink: 0;
            line-height: 1;
        }

        p {
            @include weights(medium);
            max-width: 290px;
        }
    }

    @include media-breakpoint(md) {
        grid-template-columns: minmax(auto, 570px);
        justify-content: center;
        justify-items: center;

        h1 {
            text-align: center;
        }

        .text {
            justify-content: center;
        }
    }

    @include media-breakpoint(sm) {
        justify-items: left;

        h1 {
            text-align: left;
        }

        .text {
            justify-content: flex-start;
        }
    }
}

.heroImg {
    grid-row: span 2;
    align-self: center;
    animation: levitation 5s cubic-bezier(1, 0.87, 0.89, 1.38) infinite;

    @include media-breakpoint(md) {
        grid-row: unset;
        grid-area: 2 / 1 / 3 / 2;
        max-width: 313px;
    }

    @include media-breakpoint(sm) {
        display: none !important;
    }
}
