@font-face {
    font-family: "Rubik";
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/Rubik/Rubik-Light.ttf") format("truetype");
}
/* Rubik 300 (Light Italic)  */
@font-face {
    font-family: "Rubik";
    font-display: swap;
    font-style: italic;
    font-weight: 300;
    src: url("/fonts/Rubik/Rubik-LightItalic.ttf") format("truetype");
}

/* Rubik 400 (Regular)  */
@font-face {
    font-family: "Rubik";
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}
/* Rubik 400 (Regular Italic)  */
@font-face {
    font-family: "Rubik";
    font-display: swap;
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/Rubik/Rubik-RegularItalic.ttf") format("truetype");
}

/* Rubik 500 (Medium)  */
@font-face {
    font-family: "Rubik";
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
}
/* Rubik 500 (Medium Italic)  */
@font-face {
    font-family: "Rubik";
    font-display: swap;
    font-style: italic;
    font-weight: 500;
    src: url("/fonts/Rubik/Rubik-MediumItalic.ttf") format("truetype");
}

/* Rubik 600 (SemiBold)  */
@font-face {
    font-family: "Rubik";
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/Rubik/Rubik-SemiBold.ttf") format("truetype");
}
/* Rubik 600 (SemiBold Italic)  */
@font-face {
    font-family: "Rubik";
    font-display: swap;
    font-style: italic;
    font-weight: 600;
    src: url("/fonts/Rubik/Rubik-SemiBoldItalic.ttf") format("truetype");
}

/* Rubik 700 (Bold)  */
@font-face {
    font-family: "Rubik";
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}
/* Rubik 700 (Bold Italic)  */
@font-face {
    font-family: "Rubik";
    font-display: swap;
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/Rubik/Rubik-BoldItalic.ttf") format("truetype");
}

/* Rubik 800 (ExtraBold)  */
@font-face {
    font-family: "Rubik";
    font-display: swap;
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/Rubik/Rubik-ExtraBold.ttf") format("truetype");
}
/* Rubik 800 (ExtraBold Italic)  */
@font-face {
    font-family: "Rubik";
    font-display: swap;
    font-style: italic;
    font-weight: 800;
    src: url("/fonts/Rubik/Rubik-ExtraBoldItalic.ttf") format("truetype");
}

/* Rubik 900 (Black)  */
@font-face {
    font-family: "Rubik";
    font-display: swap;
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/Rubik/Rubik-Black.ttf") format("truetype");
}
/* Rubik 900 (Black Italic)  */
@font-face {
    font-family: "Rubik";
    font-display: swap;
    font-style: italic;
    font-weight: 900;
    src: url("/fonts/Rubik/Rubik-BlackItalic.ttf") format("truetype");
}
