@import "variables";

@font-face {
    font-family: "#{$icons-font-family}";
    src: url("#{$icons-font-path}/#{$icons-font-family}.ttf?46xtj") format("truetype"),
        url("#{$icons-font-path}/#{$icons-font-family}.woff?46xtj") format("woff"),
        url("#{$icons-font-path}/#{$icons-font-family}.svg?46xtj##{$icons-font-family}") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "#{$icons-font-family}" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-check-round {
    &:before {
      content: $icon-check-round;
    }
  }
  .icon-check {
    &:before {
      content: $icon-check;
    }
  }
  .icon-chevron-down {
    &:before {
      content: $icon-chevron-down;
    }
  }
  .icon-chevron-left {
    &:before {
      content: $icon-chevron-left;
    }
  }
  .icon-chevron-right {
    &:before {
      content: $icon-chevron-right;
    }
  }
  .icon-chevron-up {
    &:before {
      content: $icon-chevron-up;
    }
  }
  .icon-close-round {
    &:before {
      content: $icon-close-round;
    }
  }
  .icon-email {
    &:before {
      content: $icon-email;
    }
  }
  .icon-exclamation {
    &:before {
      content: $icon-exclamation;
    }
  }
  .icon-eye-disabled {
    &:before {
      content: $icon-eye-disabled;
    }
  }
  .icon-eye {
    &:before {
      content: $icon-eye;
    }
  }
  .icon-headphones-round {
    &:before {
      content: $icon-headphones-round;
    }
  }
  .icon-headphones {
    &:before {
      content: $icon-headphones;
    }
  }
  .icon-key {
    &:before {
      content: $icon-key;
    }
  }
  .icon-phone-round {
    &:before {
      content: $icon-phone-round;
    }
  }
  .icon-question {
    &:before {
      content: $icon-question;
    }
  }
  .icon-telegram-round {
    &:before {
      content: $icon-telegram-round;
    }
  }
  .icon-telegram {
    &:before {
      content: $icon-telegram;
    }
  }
  .icon-user-card {
    &:before {
      content: $icon-user-card;
    }
  }
  .icon-user {
    &:before {
      content: $icon-user;
    }
  }

