$icons-font-family: "ui-icons" !default;
$icons-font-path: "/fonts/ui-icons" !default;

$icon-check-round: "\e900";
$icon-check: "\e901";
$icon-chevron-down: "\e902";
$icon-chevron-left: "\e903";
$icon-chevron-right: "\e904";
$icon-chevron-up: "\e905";
$icon-close-round: "\e906";
$icon-email: "\e907";
$icon-exclamation: "\e908";
$icon-eye-disabled: "\e909";
$icon-eye: "\e90a";
$icon-headphones-round: "\e90b";
$icon-headphones: "\e90c";
$icon-key: "\e90d";
$icon-phone-round: "\e90e";
$icon-question: "\e90f";
$icon-telegram-round: "\e910";
$icon-telegram: "\e911";
$icon-user-card: "\e912";
$icon-user: "\e913";
