@import "styles/utils";

.banner {
    background: #fff;
    padding: 20px;
    min-height: 446px;
    border-radius: $radius-big;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    margin-bottom: 16px;
}

.title {
    padding-bottom: 16px;
    text-align: center;
    @include h3;
    color: $color-accent;
}

.text {
    text-align: center;
    padding-bottom: 20px;
}

.tip {
    padding: 20px;
    background-color: $color-light-grey;
    border-radius: $radius-big;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.link {
    display: flex;
    column-gap: 6px;
    align-items: center;
    color: $color-accent;
}


.bottomText {
    @include small-body-text;

    &En {
        text-align: center;
        padding-top: 16px;
    }

    a {
        color: $color-black;
    }
}
