@import "styles/utils";

.section {
    padding: 70px 0;
    background-color: $color-light-grey;
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 20px 110px;
}

.image {
    margin-bottom: 30px;
}

.heading {
    span {
        color: $color-accent;
    }
    margin-bottom: 10px;
}
