@import "styles/utils";

.container {
    display: grid;
    grid-template-columns: 370px auto;
    align-items: start;
    grid-gap: 130px;
    padding-top: 90px;
    padding-bottom: 100px;

    @include media-breakpoint(lg) {
        grid-gap: 75px;
    }

    @include media-breakpoint(md) {
        display: block;
        padding-top: 0;
        padding-bottom: 80px;
    }

    @include media-breakpoint(sm) {
        padding-bottom: 60px;
    }
}

.contentsTableWrap {
    position: sticky;
    top: 130px;
    z-index: 1;

    @include media-breakpoint(md) {
        margin-bottom: 40px;
        top: 68px;
    }
    @include media-breakpoint(sm) {
        margin-bottom: 30px;
    }
}

.list {
    &:not(:last-child) {
        margin-bottom: 80px;
        @include media-breakpoint(md) {
            margin-bottom: 60px;
        }
    }
}
