@use "sass:math";
@import "styles/utils";

.section {
    padding: 100px 0;
    overflow: hidden;

    @include media-breakpoint(md) {
        padding: 60px 0;
    }

}

.heading {
    margin-bottom: 40px;

    span {
        color: $color-accent;
    }
}

.wrapper {
    display: grid;
    grid-column-gap: 80px;
    grid-template-columns: minmax(48.71%, 570px) minmax(40.17%, 470px);
    justify-content: space-between;

    @include media-breakpoint(md) {
        grid-template-columns: minmax(auto, 570px);
        justify-content: center;

        .heroImage {
            display: none;
        }
    }
}

.heroImage {
    align-self: center;
    position: relative;

    .bubbles {
        display: block !important;
        position: absolute;
        z-index: 0;
        top: 0;
        animation: levitation 5s cubic-bezier(1, 0.87, 0.89, 1.38) infinite;
    }

    .girl {
        display: block !important;
    }
}

.content {
    display: flex;
    flex-direction: column;

    h2,
    p {
        max-width: 370px;
    }

    p {
        margin: 30px 0 40px;
    }

    @include media-breakpoint(md) {
        align-items: center;

        h2,
        p {
            text-align: center;
        }
    }

    @include media-breakpoint(sm) {
        align-items: stretch;

        h2,
        p {
            text-align: left;
        }
    }
}

