@import "styles/utils";

.section {
    border-top: 1px solid $color-grey;
    padding: 50px 0;
    background-color: $color-light-grey;
}


.wrapper {
    display: flex;
    align-items: center;

    .icon {
        width: 170px;
        height: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 40px;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 290px;
        grid-gap: 60px;
        align-items: center;



        strong {
            @include h3;
            display: block;
            padding-bottom: 15px;
        }

        .lineBtn {
            display: block;
            min-width: 190px;
        }


        @include media-breakpoint(md) {
            grid-template-columns: 1fr;
            grid-gap: 30px;
        }

        @include media-breakpoint(sm) {
            .form {
                width: 100%;
                max-width: 370px;
            }
        }

        @include media-breakpoint(xs) {
            .form {
                max-width: 100%;
            }

            .lineBtn {
                width: 100%;
            }
        }
    }

    .text {
        width: 310px;
        flex: 1;
    }

    @include media-breakpoint(md) {
        align-items: stretch;
    }

    @include media-breakpoint(sm) {
        flex-direction: column;
        align-items: stretch;
    }
}
