@import "styles/utils";

.header {
    background: #fff;
    border-bottom: 1px solid transparent;
    transition: box-shadow 0.3s;
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    &.sticky {
        @extend .shadow-main-card;
        border-bottom: 1px solid $color-grey;
    }
}

.wrapper {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}

.right {
    display: flex;
    align-items: center;

    @include media-breakpoint(xs) {
        .auth {
            display: none;
        }
    }
}

.auth {
    display: flex;
    column-gap: 20px;

    @include media-breakpoint(md) {
        margin-right: 20px;
    }

    .authBtn {
        flex-shrink: 0;
        min-width: auto;

        i {
            margin-right: 10px;
            font-size: 12px;
            flex-shrink: 0;
        }
    }

}

