@import "styles/utils";

.menu {
    box-sizing: border-box;
    flex: 1;

    .login {
        display: none;
        border-bottom: 1px solid $color-grey;
        @extend .button-text;

        i,
        svg {
            flex-shrink: 0;
        }

        i {
            color: $color-accent;
            font-size: 12px;
            padding-right: 4px;
        }

        svg {
            fill: $color-accent;
            width: 16px;
        }

        > a {
            margin: 20px $container-indent-sm;
            width: calc(100% - 2 * $container-indent-sm);
        }


        @include media-breakpoint(xs) {
            display: block;
        }
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px 80px;

        @include media-breakpoint(1180px) {
            column-gap: 35px;
        }
    }

    @include media-breakpoint(md) {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        height: 100%;
        top: 71px;
        left: 0;
        right: 0;
        background: #fff;

        ul {
            flex-direction: column;
            padding: 30px $container-indent-sm;
        }

        &.expanded {
            display: flex;
        }
    }

    @include media-breakpoint(xs) {
        justify-content: start;
        align-items: stretch;
        z-index: 9;

        ul {
            align-items: start;
            row-gap: 20px;
        }
    }
}

.link {
    @include middle-body-text;

    &:hover,
    &.active {
        color: $color-black;
    }

    @include media-breakpoint(md) {
        @include h3;
        color: $color-body-text;
        text-align: center;
    }

    @include media-breakpoint(xs) {
        @include main-body-text;
        @include weights(medium);
    }
}
