.growInAnimated {
    display: block;
    // visibility: visible;
    animation: growIn 0.5s ease-in-out;
}

.growOutAnimated {
    animation: growOut 0.5s ease-in-out;
    // visibility: hidden;
    display: none !important;
}

@keyframes levitation {
    from {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    to {
        transform: translateY(-5px);
    }
}

@keyframes growIn {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes growOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    1% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}
