@use "sass:math";

@mixin fonts($size: false, $lh: false, $color: false, $weight: false, $ls: false, $td: false, $tt: false) {
    @if $size {
        font-size: $size;
    }
    @if $lh {
        line-height: $lh;
    }
    @if $color {
        color: $color;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $ls {
        letter-spacing: $ls;
    }
    @if $td {
        text-decoration: $td;
    }
    @if $tt {
        text-transform: $tt;
    }
}

@mixin weights($weight) {
    @if map-has-key($font-weights, $weight) {
        font-weight: #{map-get($font-weights, $weight)};
    }
}

@mixin icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "#{$icons-font-family}" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin media-breakpoint($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
            @content;
        }
    } @else {
        @media (max-width: $breakpoint) {
            @content;
        }
    }
}

@mixin media-breakpoint-min($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: #{map-get($breakpoints, $breakpoint) + 1}) {
            @content;
        }
    } @else {
        @media (min-width: ($breakpoint + 1)) {
            @content;
        }
    }
}

@mixin limit-width($width: false) {
    @if $width {
        max-width: rem($width + $container-indent * 2);
    }

    margin-left: auto;
    margin-right: auto;
}

@mixin customize-scrollbars(
    $size: 5px,
    $thumb: rgba(white, 0.1),
    $background: transparent,
    $visibility: hidden
) {
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }

    &::-webkit-scrollbar-track {
        background: #fff;
        box-shadow: inset 1px 1px 1px rgba(black, 0.07);
        border-radius: 10px;
        background: $background;
        visibility: $visibility;
    }

    &:hover::-webkit-scrollbar-track {
        visibility: visible;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: $thumb;
        visibility: $visibility;
    }

    &:hover::-webkit-scrollbar-thumb {
        visibility: visible;
    }

    // &::-webkit-scrollbar-thumb:window-inactive {
    // }
}

@mixin pseudo($display: block, $pos: absolute, $content: "") {
    content: $content;
    display: $display;
    position: $pos;
}

@mixin resp-ratio($x, $y, $pseudo: false) {
    $padding: unquote(math.div($y, $x) * 100 + "%");

    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    } @else {
        padding-top: $padding;
    }
}

@function rem($value) {
    $remValue: math.div($value, $font-size) + rem;
    @return $remValue;
}
