@mixin h1 {
    @include fonts(46px, 114%, $color-black, $ls: -0.02em);
    @include weights(bold);

    @include media-breakpoint(md) {
        @include fonts(40px, 114%);
    }
    @include media-breakpoint(sm) {
        @include fonts(32px, 114%);
    }
}

.h1 {
    @include h1;
}

@mixin h2 {
    @include fonts(36px, 120%, $color-black, $ls: -0.01em);
    @include weights(bold);

    @include media-breakpoint(md) {
        @include fonts(30px, 120%);
    }

    @include media-breakpoint(sm) {
        @include fonts(26px, 114%, $ls: normal);
    }
}
.h2 {
    @include h2;
}

@mixin h3 {
    @include fonts(26px, 130%, $color-black, $ls: normal);
    @include weights(bold);

    @include media-breakpoint(sm) {
        @include fonts(22px, 120%);
    }
}
.h3 {
    @include h3;
}

@mixin h4 {
    @include fonts(20px, 144%, $color-black, $ls: normal);
    @include weights(bold);

    @include media-breakpoint(sm) {
        @include fonts(18px, 144%);
    }
}
.h4 {
    @include h4;
}

@mixin body-text-medium {
    @include fonts(16px, 150%);
    @include weights(medium);
}

@mixin main-body-text {
    @include fonts(16px, 150%);
    @include weights(regular);
}
.main-body-text {
    @include main-body-text;
}

@mixin middle-body-text {
    @include fonts(14px, 150%);
    @include weights(regular);
}
.middle-body-text {
    @include middle-body-text;
}

@mixin small-body-text {
    @include fonts(12px, 140%, $ls: 0.01em);
    @include weights(regular);
}
.small-body-text {
    @include small-body-text;
}

@mixin button-text {
    @extend .main-body-text;
    @include weights(medium);
    color: $color-black;
}
.button-text {
    @include button-text;
}
