$breakpoints: (
    "xxs": 399px,
    "xs": 576px,
    "sm": 767px,
    "md": 992px,
    "lg": 1200px,
    "xl": 1400px,
);

// $font-weights: (
//     "regular": 300,
//     "medium": 400,
//     "semi-bold": 500,
//     "bold": 600,
//     "extra-bold": 700,
// );
$font-weights: (
    "regular": 400,
    "medium": 500,
    "semi-bold": 600,
    "bold": 700,
    "extra-bold": 800,
);

$font-size: 16px;
$font-family: "Rubik", sans-serif;

// colors

$color-accent: #3971ff;
$color-accent-light: #5887ff;
$color-accent-disabled: #e8edff;
$color-green: #27c165;
$color-red: #f94a5c;
$color-orange: #f2994a;
$color-yellow: #fbd853;
$color-black: #262626;
$color-black-hover: #464646;
$color-table-black: #242424;
$color-dark-grey: #636872; // Body text
$color-label-grey: #a0a8b8;
$color-grey: #dbe0e9;
$color-light-grey: #f4f5f9;
$color-white: #fff;

$color-body-text: $color-dark-grey;

$shadow-regular: 0 4px 20px 0 rgba(#a0a0a0, .2);

// Radius

$radius-big: 16px;
$radius-medium: 10px;
$radius-small: 8px;

// Paddings & Margins

$padding-section-desktop: 80px;
$padding-section-tablet: 60px;
$padding-section-mobile: 40px;

// Container

$container-width: 1170px;
$container-indent: 34px;
$container-indent-sm: 18px;
$container-full-width: $container-width + $container-indent * 2;
