@import "reset";
@import "fonts";
@import "utils";

body {
    font-size: $font-size;
    font-family: $font-family;
    color: $color-body-text;
    @extend .main-body-text;
}

h1 {
    @extend .h1;
}

h2 {
    @extend .h2;
}

h3 {
    @extend .h3;
}

h4 {
    @extend .h4;
}

.overflowHidden {
    overflow: hidden;
}

.zopim {
    z-index: 20 !important;
}
