@import "styles/utils";

.section {
    padding: 100px 0;
    background-color: $color-light-grey;
    overflow: hidden;

    @include media-breakpoint(md) {
        padding: 60px 0;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 10px;

    @include media-breakpoint(md) {
        flex-wrap: wrap;
        max-width: 570px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    @include media-breakpoint(sm) {
        margin-left: 0;
    }
}

.left {
    max-width: 570px;
    width: 100%;
    margin-right: 10px;
}

.right {
    max-width: 390px;
}

.heading {
    @include h1;
    margin-bottom: 64px;

    @include media-breakpoint(md) {
        margin-bottom: 32px;
    }

    span {
        color: $color-accent;
    }
}

.subheading {
    max-width: 385px;
    display: grid;
    grid-template-columns: 71px 1fr;
    grid-gap: 20px;
    align-items: center;
    @include body-text-medium;
    margin-bottom: 20px;
}

.imageWrap {
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 390px;
    z-index: 0;
    margin-bottom: 16px;

    @include media-breakpoint(xs) {
        width: auto;
        max-width: 100%;
    }

    &::after {
        content: '';
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: 390px;
        background-color: $color-white;
        border-radius: 50%;
        z-index: -1;

        @include media-breakpoint(xs) {
            height: 80vw;
        }

    }
}

.image {
   position: relative;
   top: 12px;
}

.questions {
    @include h4;
    font-weight: 400;
    text-align: center;
    margin-bottom: 16px;
}

.button {
    margin-left: auto;
    margin-right: auto;
}

