@import "styles/utils";

.section {
    padding: 60px 0 75px;
    text-align: center;
}

.image {
    margin-bottom: 15px;
}

.heading {
    margin-bottom: 32px;

    span {
        color: $color-accent;
    }
}

.subheading {
    strong {
        font-weight: 500;
        color: $color-black;

    }
}

.heading,
.subheading {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}
