@import "styles/utils";

.section {
    padding: 140px 0;

    @include media-breakpoint(sm) {
        padding: 60px 0;
    }
}

.heading {
    text-align: center;
    margin-bottom: 44px;

    @include media-breakpoint(sm) {
        margin-bottom: 12px;
    }

    span {
        color: $color-accent;
    }
}

.itemsWrap {
    position: relative;

}

.navWrap {
    background-color: $color-white;
    position: sticky;
    top: 71px;
    z-index: 5;
    margin-bottom: 150px;

    @include media-breakpoint(md) {
        margin-bottom: 30px;
    }

    &.navSticky {
        @extend .shadow-main-card;
        border-bottom: 1px solid $color-grey;

        .nav{
            > li {
                span {
                    opacity: 0;
                }


            }
        }


    }
}


.nav {
    counter-reset: ol;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 48px;
    justify-content: space-between;


    padding-top: 20px;
    padding-bottom: 20px;

    @include media-breakpoint(sm) {
        grid-gap: 5px;
    }



    > li {
        cursor: pointer;
        position: relative;
        counter-increment: ol;

        &.active {
            &::before {
                border: 1px solid $color-accent;
                color: $color-white;
                background-color: $color-accent;
            }

            &::after {
                background-color: $color-accent !important;
            }

            span {
                color: $color-accent;
            }
        }

        &::before {
            content: counter(ol);
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border: 1px solid $color-grey;
            border-radius: 6px;
            font-weight: 500;
            color: $color-black;
            background-color: $color-white;
            position: relative;
            z-index: 1;
            transition: 0.25s;
        }

        &:not(:first-child) {
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: calc(-50% - 48px);
                height: 1px;
                width: calc(100% + 48px);
                background-color: $color-grey;

                @include media-breakpoint(sm) {
                    left: calc(-50% - 5px);
                    width: calc(100% + 5px);
                }
            }
        }

        span {
            position: absolute;
            text-align: center;
            top: calc(100% + 20px);
            left: 50%;
            font-size: 14px;
            font-weight: 500;
            transform: translateX(-50%);
            min-width: 175px;
            transition: opacity 0.25s;

            @include media-breakpoint(1240px) {
                display: none;
            }
        }
    }
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:nth-child(even) {
        flex-direction: row-reverse;

        .content {
            margin-left: 0;
            margin-right: 30px;
        }
    }

    &:nth-child(n) {
        @include media-breakpoint(md) {
            flex-direction: column;

        }

        @include media-breakpoint(sm) {
            align-items: flex-start;
        }

        .content {
            margin-top: 20px;
            margin-left: 0;
            margin-right: 0;
        }
    }
}


.main {
    display: grid;
    grid-gap: 64px;
    counter-reset: ol;
}


.content {
    max-width: 450px;
    width: 100%;
    counter-increment: ol;
    margin-left: 30px;
    &::before {
        content: counter(ol);
        display: block;
        width: 30px;
        height: 30px;
        margin-bottom: 30px;
        line-height: 30px;
        text-align: center;
        border: 1px solid $color-grey;
        border-radius: 6px;
        font-weight: 500;
        color: $color-black;
    }


    strong {
        @include h2;
        display: block;
        margin-bottom: 15px;
    }
}
