@import "styles/utils";

.wrapper {
    background-color: $color-light-grey;
    padding: 100px 0;

    @include media-breakpoint(sm) {
        padding: 60px 0;
    }
}

.heading {
    color: $color-accent;
    margin-bottom: 15px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 64px;

    @include media-breakpoint(sm) {
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }
}
