@use "sass:math";
@import "styles/utils";

.form {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    background: #fff;
    border-radius: $radius-big;
    box-sizing: border-box;
    @extend .shadow-default;
    padding: 20px;


    .textarea {
        grid-column: span 2;
    }

    .btn {
        margin-top: 10px;
        min-width: 190px;
    }

    @include media-breakpoint(md) {
        .btn {
            grid-column: span 2;
            justify-self: center;
        }
    }

    @include media-breakpoint(sm) {
        grid-template-columns: 1fr;

        .textarea,
        .btn {
            grid-column: span 1;
            width: 100%;
        }
    }
}
