@import "styles/utils";

.formWrapper {
    background: #fff;
    border-radius: $radius-big;
    box-sizing: border-box;
    @extend .shadow-default;

    grid-area: 2 / 1 / 3 / 2;
    justify-self: stretch;

    @include media-breakpoint(md) {
        grid-area: unset;
    }
}

.form {
    background: #fff;
    border-radius: $radius-big;
    padding: 20px;
    box-sizing: border-box;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    // grid-auto-rows: minmax(min-content, max-content);

    .password,
    .email,
    .phone,
    .btn {
        grid-column: span 2;
    }

    .btn {
        width: 100%;
        margin-top: 10px;
    }

    @include media-breakpoint(sm) {
        grid-template-columns: 1fr;

        .password,
        .email,
        .phone,
        .btn {
            grid-column: span 1;
        }
    }
}
